@using OW.Experts.WebUI.Infrastructure
@{
    var error = this.GetErrorMessage();
    var success = this.GetSuccessMessage();

    if (error != null) {
        <div class="alert-danger alert">
            @error
        </div>
    }
    else if (success != null) {
        <div class="alert-success alert">
            @success
        </div>
    }
}