@model Domain.SemanticNetworkReadModel

@{
    ViewBag.Title = "SemanticNetwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Семантическая сеть</h2>

<div style="margin-bottom: 20px; margin-left: 40px">
    <input type="button" class="btn btn-primary" value="Вернуться к сессии"
           onclick="location.href = '@Url.Action("CurrentSession")'"/>
</div>

@Html.Partial("Partial/_SemanticNetwork", Model)