@{
    ViewBag.Title = "Wait";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Конец тестирования</h2>

@Html.Partial("Partial/_LastState")

<div class="alert-info alert">
    Сессия экспертов окончена.
</div>